* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #ee0909;
    color: white;
}
.hey:hover {
    background: #b57f7f;
    transition: background 0.3s ease;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.content {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f20909;
    color: white;
}
@media (max-width: 500px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .content {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}
